PGPASSWORD=CAMBIAR_PWD_VPS
ANTHROPIC_API_KEY=CONFIGURAR_EN_VPS
TELEGRAM_BOT_TOKEN=CONFIGURAR
TELEGRAM_CHAT_ID=CONFIGURAR
PGPASSWORD_PROD=CAMBIAR_PWD_VPS
API_KEY=o5CaV1gfXOhL6T9tt69oNZ8Ro6nQPppE
ENVIRONMENT=production
DOMAIN=gestalt.cl
